.d-flex {
  display: flex;
}

.direction-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.content-end {
  justify-content: flex-end;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.p-10 {
  padding: 10px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.wrap {
  flex-wrap: wrap;
}

.font-size-0 {
  font-size: 0;
}

.font-size-1 {
  font-size: 0.25rem;
}

.font-size-3 {
  font-size: 0.75rem;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}
