.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.box-profile {
  background: linear-gradient(to bottom, var(--color-body--1), transparent);

  text-align: center;
  padding: 40px 90px;
  color: var(--color-light--1);
  position: relative;
  border-radius: 20px;

  @media screen and (max-width: 400px) {
    padding: 40px 40px;
  }
}

.spider {
  width: 25px;
  position: absolute;
  left: 40px;
  top: 40px;
  cursor: pointer;
}

.menu {
  width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}

.profile-pic {
  width: 200px;
  border-radius: 50%;
  background: var(--color-light--1);
  padding: 6px;
  margin-top: 10px;
}

.profile-bottom {
  background: var(--color-light--1);
  color: #999;
  padding: 50px 0;
  margin-right: -90px;
  margin-left: -90px;
  margin-bottom: -40px;
  border-radius: 20px;

  @media screen and (max-width: 400px) {
    margin-right: -40px;
    margin-left: -40px;
  }
}

.profile-bottom svg {
  width: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.box-profile h3 {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}

.social-media svg {
  width: 20px;
  margin: 30px 5px;
  cursor: pointer;
}

app-quotable {
  margin: 10px;
  display: block;
}
