.user-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  width: 300px;
}

.user-img {
  border-radius: 10px 10px 0 0;
  width: 300px;
}

.user-name {
  font-weight: bolder;
}

.user-description, .user-headline, .user-learn-more {
  padding: 10px;
}

.user-headline {
  font-size: 18pt;
}
