.cardm {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
}

.card {
  width: 300px;
  height: 130px;
  border-radius: 25px;
  background: whitesmoke;
  color: var(--color-dark--0);
  z-index: 2;
  transition: .4s ease-in-out;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-items: initial;
}

.weather {
  position: relative;
  margin: 1em;
}

.main {
  font-size: 2em;
  position: relative;
}

.mainsub {
  position: relative;
  font-size: 0.6em;
}

.card-details {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 130px;
  border-radius: 35px;
  background: var(--color-light--1);
  z-index: -1;
  transition: .4s ease-in-out;
}

.card:hover {
  background-color: var(--color-warning--0);
  cursor: pointer;
}

.card:hover + .card-details {
  height: 300px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card:hover + .card-details .lower {
  top: 20.2em;
}

.upper {
  display: flex;
  flex-direction: row;
  position: relative;
  color: var(--color-dark--0);
  left: 1.8em;
  top: 0.5em;
  gap: 4em;
}

.humiditytext {
  position: relative;
  left: 3.6em;
  top: 2.7em;
  font-size: 0.6em;
}

.airtext {
  position: relative;
  left: 3.8em;
  top: 2.7em;
  font-size: 0.6em;
}

.lower {
  display: flex;
  flex-direction: row;
  position: absolute;
  text-align: center;
  color: var(--color-dark--0);
  left: 3em;
  top: 1em;
  margin-top: 0.7em;
  font-size: 0.7em;
  transition: .4s ease-in-out;
}

.aqi {
  margin-right: 3.25em;
}

.realfeel {
  margin-right: 1.8em;
}

.card-is-today {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 30px;
  top: 4.7em;
  left: -2.4em;
  font-size: 1.24em;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background: var(--color-body--2);
  transition: .4s ease-in-out;
  color: var(--color-light--1);
}

.weather-icon {
  font-size: 80px;
}
