<article *ngIf="users?.length" class="user-list" [@fadeInOut]>
  <ng-container *ngFor="let user of users trackBy:trackBy; let i = index;">
    <app-card [user]="user!">
      <app-button
        appClickStopPropagation
        (btnClick)="saveUser(user)"
        *ngIf="user"
        buttonContent>Details
      </app-button>
      <app-weather [weather]="user!.weather" [userLocation]="user?.location?.city + ', ' + user?.location?.country" mainContent></app-weather>
    </app-card>
  </ng-container>
</article>



