<app-button
  (btnClick)="backClicked()"
  type="back">🔙
</app-button>

<ng-container *ngIf="(user$ | async) as user">
  <app-card [user]="user!">
    <app-weather [weather]="user.weather!" mainContent></app-weather>
  </app-card>
  <app-map [markerOptions]="{
            id: user.login!.uuid,
            name: user.name!.last,
            description: user.gender!,
            picture: user.picture!.large,
            position: $any([user.location.coordinates!.latitude, user.location.coordinates!.longitude])
        }">
  </app-map>
</ng-container>

<ng-container *ngIf="(user$ | async) === null">
 <div class="not-found">User Not Found</div>
</ng-container>

