:root {
  --color-dark--0: #000000;
  --color-dark--1: #242a2e;

  --color-light--1: #ffffff;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;

  --color-error--1: #e57373;
  --color-success--1: #81c784;

  --color-warning--0: #ffd496;
  --color-warning--1: #ffb74d;

  --color-body--1: #ba68c8;
  --color-body--2: #7986cb;

  --toast-dark-bg: #212121;
}
